/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles Viktor Artemyev <mail@artemyev.me>
   ========================================================================== */


/**
 *  Шапка сайта
 */
.header {
    background: url("../img/header/background.jpg") no-repeat center;
    background-size: cover;
    height: 760px;
    position: relative;
    z-index: 2;
}

.header__logo {
    background: url("../img/header/logo.png") no-repeat;
    width: 155px;
    height: 99px;
    position: absolute;
    left: 376px;
    top: 75px;
}

.header__title {
    position: relative;
    top: 163px;
    left: 125px;
}

.header__title__line {
    font-family: 'Yeseva One', cursive;
    font-size: 72px;
    line-height: 71px;
    position: absolute;
    color: #fff;
}

.header__title__line--most {
    left: 194px;
}

.header__title__line--grand {
    top: 53px;
}

.header__title__line--final {
    top: 104px;
    left: 232px;
}

.header__title__line--ever {
    top: 186px;
    left: 266px;
    font-size: 160px;
    color: #20aae0;
    line-height: 30px;
}

.header__title__line--2015 {
    top: 254px;
    left: 513px;
}

.header__title__line__15 {
    font-size: 100px;
    line-height: 30px;
    position: relative;
    left: -10px;
}


/**
 *  Булиты навигации
 */
.bullet {
    position: relative;
    z-index: 2;
}
.bullet__list {
    margin-top: -110px;
}
.bullet__list__item {
    font-family: 'Yeseva One', cursive;
    width: 220px;
    margin-right: 20px;
    float: left;
}

.bullet__list__item__round {
    border-radius: 120px;
    width: 220px;
    height: 220px;
    overflow: hidden;
    position: relative;
    z-index: 2;
}

.bullet__list__item__title {
    margin-top: 15px;
    font-size: 18px;
    color: #9dacb5;
    text-align: center;
}

.bullet__list__item--last {
    margin: 0;
}

/**
 *  Булит - КОГДА
 */
.bullet__list__item__round__when {
    background-color: #515c7c;
    text-align: center;
}

.bullet__list__item__round__when__line1 {
    color: #3ca7de;
    font-size: 30px;
    line-height: 34px;
    margin-top: 60px;
    display: block;
}

.bullet__list__item__round__when__line2 {
    color: #fff;
    font-size: 30px;
    line-height: 34px;
    display: block;
}

/**
 *  Булит - МЕСТО ПРОВЕДЕНИЕ
 */
.bullet__list__item__round__place {
    background: url("../img/bullet/place.png") no-repeat;
}

/**
 *  Булит - ШОУ
 */
.bullet__list__item__round__show {
    background: url("../img/bullet/show.png") no-repeat;
}

.bullet__list__item__round__stars {
    background-color: #20aae0;
    text-align: center;
}

.bullet__list__item__round__stars__sign {
    font-size: 150px;
    position: relative;
    top: 36px;
    line-height: 150px;
    color: #fff;
}


/**
 *  Контент
 */
.content {
    position: relative;
    z-index: 1;
}

.content__text {
    padding-top: 55px;
}

.content__text p {
    font-family: Conv_DINPro-Regular, "Trebuchet MS", "Helvetica CY", sans-serif;
    font-size: 14px;
    line-height: 20px;
    padding: 0;
    margin: 0;
    z-index: 2;
    color: #000;
}

.content__text a {
    color: #37a7dc;
    text-decoration: none;
}
.content__text a:hover {
    color: #3086b6;
    border-bottom: 1px solid;
}

.content__pattern {
    background: url("../img/content/logo__part1.png") no-repeat;
    width: 295px;
    height: 481px;
    position: absolute;
    top: -15px;
    left: -160px;
    z-index: -1;
}

.content__bottom_bg_pattern {
    background: url("../img/content/logo__part2.png") no-repeat;
    position: absolute;
    bottom: -90px;
    left: 110px;
    width: 882px;
    height: 93px;
}


/**
 *  Оформление заголовков
 */
.headline {
    font-family: 'Yeseva One', cursive;
    font-size: 60px;
    line-height: 90px;
}

.headline__title {
    background: url("../img/headline/star.png") no-repeat 0 center;
    color: #9dacb5;
    padding-left: 55px;
}

.headline__border {
    background: url("../img/headline/border__image.png");
    height: 5px;
    width: 100%;
}

.headline__noborder .headline__border {
    display: none;
}


/**
 *  Купить билет
 */
.content__buy_ticket {
    margin-top: 100px;
}

.content__buy_ticket__buttons {
    width: 625px;
    margin: 35px auto 0;
}

.content__buy_ticket__button {
    background: url("../img/content/pattern__button.png") #20aae0 right top  no-repeat;
    width: 300px;
    height: 90px;
    border: 1px solid #eaedf0;
    text-align: center;
    position: relative;
    z-index: 2;
    float: left;
}

.content__buy_ticket__button--kassir {
    margin-left: 20px;
    background-color: #fff;
}

.content__buy_ticket__button--kassir .content__buy_ticket__button__label {
    color: #1FA9DF;
}

.content__buy_ticket__button__label {
    font-family: Conv_DINPro-Regular, "Trebuchet MS", "Helvetica CY", sans-serif;
    font-size: 18px;
    line-height: 90px;
    color: #fff;
    height: 100%;
    width: 100%;
    text-decoration: none;
    display: block;
}

.content__buy_ticket__button__icon {
    background: url("../img/content/kassir__icon.png") no-repeat 0 0;
    width: 33px;
    height: 38px;
    vertical-align: middle;
    display: inline-block;
}

.content__buy_ticket__button:hover .content__buy_ticket__button__shadow {
    background: url("../img/content/shadow__button.png") 0 0;
}

.content__buy_ticket__button__shadow {
    background: url("../img/content/shadow__button.png") 0 -94px;
    width: 304px;
    height: 94px;
    top: 0;
    left: 0;
    z-index: -1;
    position: absolute;
}


/**
 *  Вступить в группу
 */
.join {
    background: url("../img/join/pattern.png") #e8f0f3 no-repeat center;
    margin-top: 90px;
    height: 600px;
}

.join__wrapper {
    position: relative;
}

.join__headline {
    margin-top: 60px;
}

.join__vk_widget {
    background-color: #fff;
    padding: 19px;
}

.join__title {
    font-family: 'Yeseva One', cursive;
    width: 470px;
    margin: 30px auto 0;
    text-align: center;
    font-size: 18px;
    color: #20aae0
}

.join__star_icon {
    background: url("../img/join/star.png") no-repeat 0 0;
    width: 112px;
    height: 105px;
    position: absolute;
    right: 0;
    bottom: -110px;
}


/**
 *  События
 */
.events {
    height: 520px;
    position: relative;
}

.event__list {
    margin-top: 32px;
}

.event__item {
    width: 300px;
}

.event__item__content {
    background-color: #fff;
    border: 1px solid #eaedf0;
    height: 210px;
    position: relative;
}

.event__item__content__inner {
    margin: 10px 0 0 10px;
}

.event__item__content__shadow {
    background: url("../img/events/slider__shadow.png") 0 0 no-repeat;
    width: 304px;
    height: 214px;
    position: absolute;
    left: 0;
    top: 2px;
    z-index: -1;
}

.event__item__title {
    font-family: Conv_DINPro-Regular, "Trebuchet MS", "Helvetica CY", sans-serif;
    font-size: 14px;
    text-align: center;
    position: relative;
    top: 20px;
    color: #37a7dc;
}

.events__wrapper {
    height: 520px;
}

.events__top__pattern {
    background: url("../img/events/top__bg.png") no-repeat;
    width: 882px;
    height: 420px;
    top: 0;
    right: -55px;
    z-index: -1;
    position: absolute;
}

.events__left__pattern {
    background: url("../img/events/left__bottom_bg.png") no-repeat;
    width: 150px;
    height: 180px;
    position: absolute;
    left: -150px;
    bottom: 0;
}

.headline__event {
    margin-top: 70px;
}


/**
 *  Отзывы
 */
.reviews {
    background-color: #505979;
    height: 530px;
}

.reviews__list {
    margin-top: 35px;
}

.reviews__item {
    width: 300px;
    height: 210px;
    position: relative;
}

.reviews__item__content {
    background-color: #fff;
    min-height: 210px;
    position: relative;
}

.reviews__item__content__inner {
    font-family: Conv_DINPro-Regular, "Trebuchet MS", "Helvetica CY", sans-serif;
    padding: 7px 20px;
}

.reviews__item__content__triangle {
    background: url("../img/faq/triangle.png") 0 0 no-repeat;
    position: absolute;
    left: 20px;
    bottom: -10px;
    width: 10px;
    height: 10px;
}

.reviews__item__content__inner p {
    line-height: 20px;
    font-size: 13px;
}

.reviews__item__title {
    font-family: Conv_DINPro-Regular, "Trebuchet MS", "Helvetica CY", sans-serif;
    position: relative;
    top: 30px;
    margin-left: 20px;
    color: #fff;
}

.reviews__item__title__school_name {
    color: #90939e;
}

.headline__reviews {
margin-top: 70px;
}

.headline__reviews .headline__title {
    color: #fff;
}


/**
 *  Вопросы-ответы
 */
.wrapper__faq {
    padding-top: 80px;
}

.faq__column {
    width: 300px;
    margin-right: 20px;
    float: left;
}

.faq__column__hl {
    font-family: 'Yeseva One', cursive;
    font-size: 18px;
    color: #9dacb5;
}

.faq__column ul {
    font-family: Conv_DINPro-Regular, "Trebuchet MS", "Helvetica CY", sans-serif;
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
    color: #000;
}

.faq__column ul li {
    background: url("../img/content/list_item.png") 0 center no-repeat;
    padding-left: 18px;
}

.faq__column p {
    font-family: Conv_DINPro-Regular, "Trebuchet MS", "Helvetica CY", sans-serif;
    font-size: 14px;
    color: #000;
}

.faq__column p a {
    color: #37a7dc;
    text-decoration: none;
}

.faq__column p a:hover {
    color: #3086b6;
    border-bottom: 1px solid;
}

.faq__column__last {
    margin: 0;
}

.faq__right_pattern {
    background: url("../img/faq/right__pattern.png") no-repeat;
    width: 160px;
    height: 196px;
    position: absolute;
    right: -160px;
    top: 0;
}


/**
 *  Подвал сайта
 */

.footer__top_line {
    background: url("../img/headline/border__image.png");
    height: 5px;
    width: 100%;
    margin: 80px 0 40px;
}

.footer__copyright {
    font-family: Conv_DINPro-Regular, "Trebuchet MS", "Helvetica CY", sans-serif;
    font-size: 11px;
    float: left;
}

.footer__contacts {
    font-family: Conv_DINPro-Regular, "Trebuchet MS", "Helvetica CY", sans-serif;
    font-size: 15px;
    float: left;
    margin-left: 150px;
}

.footer__contacts__item__icon {
    background: url("../img/footer/icons.png") no-repeat 0 0;
    display: inline-block;
    vertical-align: middle;
}

.footer__contacts__item {
    margin-right: 20px;
}

a.footer__contacts__item {
    color: #37a7dc;
    text-decoration: none;
}

a.footer__contacts__item:hover {
    color: #3086b6;
    border-bottom: 1px solid;
}

.footer__contacts__item--last {
    margin: 0;
}

.footer__phone__icon {
    background-position: 0 -23px;
    width: 11px;
    height: 11px;
}

.footer__email__icon {
    width: 15px;
    height: 11px;
}

.footer__adress__icon {
    background-position: 0 -11px;
    width: 9px;
    height: 12px;
}



/**
 *  Карта
 */
.map {
    margin-top: 40px;
    height: 280px;
}



/**
 *  Слайдер
 */
.slider__wrapper {
    position: relative;
}

.lSSlideWrapper {
    width: 940px;
    overflow: hidden;
}

.slider__item {
    width: 300px;
    height: 300px;
    float: left;
}

.lSAction {
    position: absolute;
    top: 50%;
    margin-top: -23px;
    width: 100%;
}

.lSAction a {
    background-image: url("../img/slider/arrows.png");
    position: absolute;
    height: 23px;
    width: 15px;
    cursor: pointer;
    display: inline-block;
    z-index: 2;
}

.lSPrev {
    background-position: 0 0;
    left: -30px;
}

.lSNext {
    background-position: -15px 0;
    right: -30px;
}


/**
 *  Общие стили
 */
.wrapper {
    width: 940px;
    margin: 0 auto;
    position: relative;
}

.j__open_window {
    cursor: pointer;
}


/**
 *  Стилизация модального окна
 */
.box-modal {
    background-color: #fff;
    position: relative;
}

.box-modal_close {
    background: url("../img/arcticmodal/close__button.png") transparent no-repeat 0 0;
    width: 48px;
    height: 48px;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
    position: absolute;
    right: -24px;
    top: -24px;
    cursor: pointer;
}

.box__modal__content {
    font-family: Conv_DINPro-Regular, "Trebuchet MS", "Helvetica CY", sans-serif;
    padding: 10px 20px;
}

.box__modal__content ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 15px;
    color: #000;
}

.box__modal__content ul li {
    background: url("../img/content/list_item.png") 0 center no-repeat;
    padding-left: 18px;
}

.box__modal__content h1 {
    font-family: 'Yeseva One', cursive;
    font-size: 18px;
    color: #37a7dc;
}

.box__modal__content p {
    font-size: 15px;
    color: #000;
}

.box__modal__content a {
    color: #37a7dc;
    text-decoration: none;
}

.box__modal__content a:hover {
    color: #3086b6;
    border-bottom: 1px solid;
}

/**
 *  Оформление формы в модальном окне
 */

.box__modal__form {
    margin: 0;
}

.form__field_wrap {
    position: relative;
    margin: 12px 10px;
    padding: 0;
    height: 44px;
}

.form__field {
    font-family: Conv_DINPro-Regular, "Trebuchet MS", "Helvetica CY", sans-serif;
    border: 1px solid #dbdee1;
    width: 94%;
    padding: 9px;
    font-size: 17px;
    position: absolute;
    left: 2px;
    top: 0;
}

.form__button {
    font-family: Conv_DINPro-Regular, "Trebuchet MS", "Helvetica CY", sans-serif;
    font-size: 18px;
    background-color: #37a7dc;
    border: none;
    color: #fff;
    padding: 10px 15px;
    float: right;
    position: relative;
    right: 5px;
}

.form__button:hover {
    background-color: #3086b6;
}

.form__button:active {
    position: relative;
    top: 1px;
}

.form__field--error {
    border: 2px solid #bd3204;
}

/**
 *  Плагин модального окна
 */
.arcticmodal-overlay,
.arcticmodal-container { position: fixed; left: 0; top: 0; right: 0; bottom: 0; z-index: 1000; }
.arcticmodal-container { overflow: auto; margin: 0; padding: 0; border: 0; border-collapse: collapse; }
*:first-child+html .arcticmodal-container { height: 100% }
.arcticmodal-container_i { height: 100%; margin: 0 auto; }
.arcticmodal-container_i2 { padding: 24px; margin: 0; border: 0; vertical-align: middle; }
.arcticmodal-error { padding: 20px; border-radius: 10px; background: #000; color: #fff; }
.arcticmodal-loading { width: 80px; height: 80px; border-radius: 10px; background: #000 url(../img/arcticmodal/loading.gif) no-repeat 50% 50%; }










/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}